page-quotes {
    .author {
        color: #413B3B;
        text-align: right;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        &:before{
            content: "- ";
        }
    }
}
